

.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  /* IE8 - has no alpha support */
  background-color:#003366;
  /* Opacity: 1.0 = 100%, 0.0 = 0% */
  background-color: rgba(#003366, 0.7);
}

.vjs-default-skin .vjs-big-play-button {
  font-size: 2.5em;
  $big-play-width: 3em;
  $big-play-height: 1.5em;
  line-height: $big-play-height;
  height: $big-play-height;
  width: $big-play-width;
  border: 0.06666em solid $primary-foreground-color;
  border-radius: 0.3em;
    left: 40%;
    top: 40%;
    margin-left: -($big-play-width / 2);
    margin-top: -($big-play-height / 2);
}

/* .videolayout{
  margin: auto;
  padding: 5em;
} */


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,2.5);
}

img {
  border-radius: 5px 5px 0 0;
}

#events{
  background-color: #00a7be;
  padding: 50px;
  text-align: center;

}

#videosection{
  padding: 20px;
  text-align: center;
}
.up{
  color: #fff;
}

#topsection{
  padding: 100px;
  text-align: center;
}
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}


.container {
  padding: 2px 16px;
}
.cardholder{
  padding:1em;
  padding-bottom: 2em;
}
#footer{
  background-color: #00a7be;
  padding: 7% 15%;
  text-align: center;
}

.si{
  margin: 20px 10px;
}
